body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 20px 0;
  text-align: center;
}

#brandname {
  font-size: 36px;
}

.results {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 30px;
  text-align: center;
  width: 60%;
}

.results h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.results .spam {
  color: red;
}

.results .ham {
  color: green;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .results {
    width: 80%;
  }
}
